body {
    font-family: 'Times New Roman', Times, serif;
    background-color: antiquewhite;
}

.nav-item:hover {
    background-color: antiquewhite;
}

.contact-form {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: white;
}

.contact-form h2 {
    margin-bottom: 20px;
}

.contact-info {
    margin-top: 30px;
}

.contact-info h4 {
    margin-bottom: 10px;
}
